table {
  width: 100%;
}
table thead {
  background: #121e18ad;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  padding: 10px;
  text-align: left;
  color: #e4e4e4f6;
}
table thead th,
table tbody tr td {
  padding: 10px 30px;
}
table tbody tr:nth-child(even) {
  background: #121e181e;
}

table tbody td.editImages img {
  cursor: pointer;
  width: 20px;
  margin: 0 5px;
}
.editImages button {
  background: none;
  border: none;
  outline: none;
}
